# Dependencies
node_modules

# Build output
build
.docusaurus

# TypeScript compiled files in src
src/**/*.js
docusaurus.config.js
sidebars.js

# Misc
.DS_Store
*.log

# Environment variables
.env
.env.local